 
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}
.swiper-slide{
    font-size: 18px;
    text-align: center;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 800px;
}
.swiper-button-prev,
.swiper-button-next{
    color: aliceblue;
}