{% extends 'prant.html' %}
{% block body %}
  <div class="row h-50 "  style="background-color:black">
                <div class="carousel-inner w-100">
                    <!-- Single item -->
                    <div class="carousel-item active">
                      <video class="img-fluid" autoplay loop muted>
                        <source src="../static/img/Grey and White Simple Clean Personal Artist YouTube Channel Art.mp4" type="video/mp4" />
                      </video>
                      <div class="carousel-caption ">
                        <div class="jumbotron text-left">
                            <p class="fw-bold tct">The name Ero hase been started</p>
                            <h1 class="display-4 text-light fw-bold tct py-3" style="font-size: 6vh;">Bright Your Future With Learn New Technolagy Form The ACTOCODE</h1>
                            <p class=" tct fs-3 ">Find all the instractionYouneed to get on entery_level programing in Tech even Your Never coded.Not a beginner? Test out of suibject</p>
       
                          </div>
                      </div>
                    </div>

              </div>
              </div>
              
            <div class="row p-5  bg-dark" >
            
                <div class="col-md-1 me-6"></div>
                
                <div class="col-sm-8 w-75 ms-6 rounded-4 shadow border-light-1" style="background-color: #e9f3fb ; margin-left: 4rem;" data-aos="fade-up" >
                        <div class="col-md-3 mt-5" style="float: left;">
                            <div class="card ms-5 w-75" style="background-color: #e9f3fb ; ">
                                <img class="card-img-top  " style="border-radius: 100px;" src="../static/img/WhatsApp Image 2025-05-06 at 23.32.42_11c45939.jpg" alt="Card image cap">
                                 
                              </div>
                          </div>
                     
                    <div class="col-sm-7 mt-5   " style="float: left;">
                        <div class="jumbotron">
                            <h2 class="display-4 text-dark fw-bold tct py-3" style="font-size: 3.5vh;">The Best investment is Learn New Konwledge</h2>
                           <p class=" tct fs-4 ">Find all the instractionYouneed to get on entery_level job in Tech even Your Never coded.Not a beginner? Test out of suibject in this platform tecahres and over all staf fie very supported and best staf</p>
                            </div> 
                    </div>
                    
                </div>
            
                
                <div class="col-md-2"></div>
            
            </div> 
            <div class="row p-5" style="background-color: black;">
                <h1 class="text-light text-center tct fw-bold">When To Use?</h1>
                <p class="text-light text-center tct ">Use ActoCode when you want a practical, interactive way to improve your coding skills. Ideal for students, beginners, and developers, it offers real-time feedback, task-based challenges, <br>and offline support for low-connectivity areas. Whether you're learning, revising, or preparing for interviews, ActoCode helps you code better, stay motivated, and track your progress—anytime, anywhere.</p>
             
                 <div class="col-md-3 mt-5" data-aos="fade-up">  
                     <div class="card ms-5 w-75 text-center" style="width: 30rem; background-color: #e9f3fb">
                    <img class="card-img-top img-center p-3 w-75 mt-4 ms-5 "   src="../static/img/clock_12476743.png" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title text-dark">Time complexcity</h3>
                      <p>Improve your time complacity with  Actocode</p>
                     </div>
                  </div> 
                </div>
                 <div class="col-md-3  mt-5" data-aos="fade-up">
                    <div class="card ms-5 w-75 text-center" style="width: 30rem; background-color: #e9f3fb">
                        <img class="card-img-top p-3 w-75 mt-4 ms-5"  src="../static/img/python_1822920.png" alt="Card image cap">
                        <div class="card-body mb-2">
                          <h3 class="card-title text-dark">Code in Python</h3>
                          <p class="mb-2">Write code without install any sdk and any software</p>
                         </div>
                      </div> 
                 </div>
                 <div class="col-md-3 mt-5" data-aos="fade-up">
                    <div class="card ms-5 w-75 text-center" style="width: 30rem; background-color: #e9f3fb">
                        <img class="card-img-top p-3 w-75 mt-4 ms-5" src="../static/img/java_3291697.png" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title text-dark">Java</h3>
                          <p>Write your program in java technolagy and improve your skills</p>
                         </div>
                      </div> 
                 </div>
                 <div class="col-md-3 mt-5" data-aos="fade-up">
                    <div class="card ms-5 w-75 text-center" style="width: 30rem; background-color: #e9f3fb">
                        <img class="card-img-top p-3 w-75 mt-4 ms-5" src="../static/img/c.png" alt="Card image cap">
                        <div class="card-body ">
                          <h3 class="card-title text-dark">C++</h3>
                            <p>use C++ code editor for improve your basics and base model of programing</p>
                        </div>
                      </div> 
                 </div>  
                 
            </div> 
            {% endblock %}
